.mfp-container {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    box-sizing: border-box;
}

.mfp-wrap {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1043;
    position: fixed;
    outline: none !important;
    visibility: hidden;
}

.mfp-content {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    text-align: left;
    z-index: 1045;
}

.mfp-content {
    width: 100%;
    cursor: auto;
}

#request-quote {
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding: 60px;
    border-radius: 5px;
}

@media screen and (max-width: 768px) {
    #request-quote {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.hbspt-form {
    margin-top: 0;
    padding: 0;
}

.mfp-close {
    user-select: none;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    opacity: 0.65;
    padding: 0 0 18px 10px;
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
    font-size: 28px;
    margin-right: 1.25rem;
    margin-top: 1.25rem;
}

button.mfp-close {
    overflow: visible;
    cursor: pointer;
    border: 0;
    display: block;
    outline: none;
    padding: 0;
    z-index: 1046;
    box-shadow: none;
    touch-action: manipulation;
}

.mfp-close {
    color: #333;
}

.mfp-close:hover {
    opacity: 1;
}

.hbspt-form .hs-form-field {
    margin-bottom: 1.5em;
}

.modal-content input {
    color: #526270;
}

.hbspt-form label {
    font-weight: 700;
    color: #333333;
}

.hs-form-ad9f2a9e-47b8-43c2-aa86-926dbc00b675_24a4c690-1780-4b86-a38f-32c27701701a .hs-field-desc {
    width: 100%;
}

.hbspt-form .hs-form-required {
    color: red;
    margin-left: 3px;
}

.modal-content input[type="text"] {
    appearance: none;
    border-radius: 0;
    width: 100%;
    height: 60px;
    color: #526270;
    border: 1px solid #a9a9a9;
    padding: 0;
    padding-left: 10px;
    background-color: #ffffff;
}

.modal-content input[type="date"] {
    appearance: none;
    border-radius: 0;
    width: 100%;
    height: 60px;
    color: #526270;
    border: 1px solid #a9a9a9;
    padding: 0;
    padding-left: 10px;
    background-color: #ffffff;
}

.modal-content [type="checkbox"] {
    width: 20px;
    height: 20px;
}

.modal-content input[type="email"] {
    appearance: none;
    border-radius: 0;
    width: 100%;
    height: 60px;
    color: #526270;
    border: 1px solid #a9a9a9;
    padding: 0;
    padding-left: 10px;
    background-color: #ffffff;
}

.modal-content input[type="tel"] {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    width: 100%;
    height: 60px;
    color: #526270;
    border: 1px solid #a9a9a9;
    padding: 0;
    padding-left: 10px;
    background-color: #ffffff;
}

.modal-content select {
    color: #526270;
    appearance: none;
    border-radius: 0;
    width: 100%;
    height: 60px;
    border: 1px solid #a9a9a9;
    padding: 0;
    padding-left: 10px;
    padding-right: 30px;
    background-color: rgba(210, 196, 196, 0.1);
}

.modal-content textarea {
    color: #526270;
    border-radius: 0;
    width: 100%;
    height: 200px;
    border: 1px solid #a9a9a9;
    padding: 10px;
    padding-left: 10px;
    background-color: #ffffff;
}

.modal-content ul {
    overflow-wrap: break-word;
    list-style: none;
    padding-left: 20px;
    list-style-type: disc;
    list-style-position: outside;
    margin-bottom: 24px;
}

.modal-content .hs_newsletter_signup .inputs-list {
    list-style: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.hs-form-ad9f2a9e-47b8-43c2-aa86-926dbc00b675_24a4c690-1780-4b86-a38f-32c27701701a .hs-button {
    white-space: pre-wrap;
}

.hbspt-form .hs-button.primary {
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: none;
    position: relative;
    padding: 13px 25px;
    z-index: 1;
    text-decoration: none;
    min-width: 0;
    margin-top: 1em;
    width: 100%;
}

.modal-content .hs_newsletter_signup .inputs-list span {
    margin-left: 5px;
}